.app-layout{
    background-color: hsl(0, 0%, 95%);
}
.app-content.layout-top-nav {
    margin-top: 90px !important;
    min-height: calc(100vh - 130px - 55px);
}

.barangay-links{
    background: red;
}
