
.form-label{
    font-family: 'proxima-nova', sans-serif;
    font-weight: bolder;
    color: black;
}

.form-title {
    font-weight: bolder;
}

.login-btn {
    background-color: #0033cc !important;
    color: white;
    font-weight: bold; 
    width: 100%;
}