
.form-label{
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bolder !important;
    color: black !important;
}

.form-title {
    font-weight: bolder !important;
}

.login-btn {
    background-color: #0033cc !important;
    color: white !important;
    font-weight: bold !important; 
    width: 100% !important;
}