.login-card {
    width: 1000px;
    margin: 150px 0px; 
}

.login-right{
    padding: 20px 20px 0px 20px;
}

.col-login-left .photo{
    margin-top: 50px;
    height: 80%;
    width: 100%;
}

.footer{
    text-align: center;
    margin: 16px 0px 0px 0px;
    padding:0px 10px;
    background-color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-content {
    height: 100%;
}

.footer-icon {
    
}

.ant-card-body {
    padding: 0px;
}

@media (max-width: 1399px) {
    .login-card {
        width: 600px;
        margin: 100px 0px;

    }
}

@media (max-height: 945px) {

    .login-card {
        margin: 100px 0px;
    }

    .footer {
        position:inherit;
    }
}

@media (max-width: 700px) {
    .login-card {
        width: 300px;
    }
}

