.auth-register-card {
    width: 1200px !important;
}

.auth-register-right{
    padding: 20px 20px 0px 20px !important;
}

.auth-register-left .photo{
  height: 65% !important;
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50%!important ;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.auth-footer {
  text-align: center;
  margin: 16px 0px 0px 0px !important;
  padding: 0px 10px !important;
  background-color: white !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  height: auto !important;
}

.auth-footer-content {
  height: 100% !important;
}

@media (max-width: 1399px) {
  .auth-register-card {
    width: 600px !important;
    margin: 50px 0px !important;
  }
}

@media (max-width: 700px) {
  .auth-register-card{
    width: 500px !important;
  }
  
}

@media (max-height: 880px) {
  .auth-footer {
    position: relative !important;
  }
}
  